a {
    text-decoration: none;
    font-family: montserrat;
    color: var(--primary-color);

}

.task-side-bar {
    min-height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 2px 3px 6px 0 rgba(102, 80, 155, 0.3), 2.5px 2px 3px 0 rgba(114, 115, 179, 0.2);
}
.task-count, .shedule-count {
    width: 100;
    position: relative;
}
.task-count-icon {
    
    width: 100%;

}
.task-count-icon svg, .shedule-count svg {
    width: 70px;
    height: 70px;
    fill: rgba(0, 255, 255, 0.185);
}

.task-count-icon svg path, .task-count-icon svg line, .shedule-count svg path, .shedule-count svg line  {
    color: #537FE7;
    fill: none;
}
.task-count-number, .shedule-count-number {
    position:absolute;
    top:2.3rem;
    left: 2.3rem;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #537FE7;
    box-shadow: 1px 2px 2px 1px rgba(169, 169, 169, 0.144);
    z-index: 2;
}
.divider {
    height: 2px;
    background: linear-gradient(to right, #cccccc, #8752D1 60%, #537FE7);
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}


/* ################### Responsive / Media Querys  #######################*/
@media (max-width: 810px) {
    .task-list-h1, .task-list {
        max-width: 90%;
    }
}

@media (max-width: 700px) {
    .task-status {
        display: none;
    }
}
