.navigation {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 1rem 0 1rem;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(70deg, black 0%, rgb(48, 48, 48) 20%, rgb(29, 29, 29) 100%);
    padding:0.3rem 1rem 0.3rem 1rem;
}
.navigation-main-left {
    display: flex;
    width: 60%;
    gap: 0.1rem;
}
.navigation-main-linkone {
    text-decoration: none;
    background: linear-gradient(130deg, #537FE7, #8752D1);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  
    background-clip: text;
    width: 7rem;
    border: 1px solid var(--accent-color-a);
    border-radius: 3px 9px 0 9px;
    color: var(--primary-color);        /* Wenn WebKit nicht unterstützt wird */
    padding: 0.5rem 0.5rem 0 0.5rem;
    font: 1.2rem;
    transition: all 0.255s ease-in-out;
}
.navigation-main-linkone:hover {
  background: linear-gradient(130deg, #8752D1, #537FE7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: 1px solid var(--accent-color);
}
.navigation-main-right {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
    gap:1rem;
}
.navigation-main-right input {
    height: 30px;
    font-size: 1rem;
    border-radius: 3px 9px 0 9px;
    padding-left: 0.7rem;
    width: 20rem;
    background-color: whitesmoke;
}


