.login-main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 30rem;
    position: relative;
    border-radius:12px;
    background-color: #30d0ca;
    padding: 1rem;
    

}
.login-container::before {
    content:"";
    position: absolute;
    top:-1px;
    left:-2px;
    right:-1px;
    bottom:-1px;
    background-image:linear-gradient(90deg, #0c72c8, #30d0ca);
    border-radius:12px;
    z-index:-1;
}
.login-form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.login-form-input {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.login-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.login-image svg {
    width: 6rem;
}
