.task-filter-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    width: 100%;
    border-radius: 6px;
    background-color: var(--bg-color);
    align-items: center;
    height: 40px;
    gap: 0.5rem;
}
.task-filter-link {
    
    width: 5rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border: 1px solid var(--accent-color-a2);
    border-radius: 3px 9px 0 9px;
    text-decoration: none;
    font-family: montserrat;
    color: var(--primary-color);
    transition: all 0.255s ease-in-out;
}
.task-filter-link:hover {
    border: 1px solid var(--accent-color);
    font-weight: bold;
}
.task-filter-link-active {
  background: linear-gradient(90deg, var(--accent-color-a1), var(--accent-color-b2));
  color: white;
  font-weight: bold;
  border: 1px solid var(--accent-color);
}
