.dashboard {
    position: absolute;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    background-color: var(--bg-color);
}
.head-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.head {
    width: 70%;
}
.head-h1 {
    font-family: montserrat;
    color: var(--primary-color);
    margin-left: 1rem;
}
.head-does {
    display: flex;
    
    width:30%;
    justify-content: end;
    align-items: center;
    gap: 0.7rem;
    padding-right: 2rem;
}
.link svg{
    color: var(--primary-color);
    height: 2rem;
    width: 2rem;
}

/* ##################### Content ############### */
.dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    height: 86%;
    box-sizing: border-box;
    gap: 0.2rem;
}
.weather {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;   */         
    align-items: center;
    height: 9%;
    padding: 0.3rem;
    /* width: 100%; */
    box-sizing: border-box;
    margin-top: 0.8rem;
    margin-bottom: 0.1rem;
    border: 1px solid var(--accent-color);
    padding-left:0.3rem;
    color: var(--primary-color);
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 3px 6px 0 rgba(102, 80, 155, 0.3), 2.5px 2px 3px 0 rgba(114, 115, 179, 0.2);
}
.weather-bar {
    width: 100%;
}
.main-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 0.5rem;
}
.main-content { 
    width: 100%;
    box-sizing: border-box;
}
.router-outlet {
    width: 100%;
}
.divider {
    width: 2px;
    background: linear-gradient(to bottom, #cccccc, #8752D1 60%, #537FE7);
    margin: 0 0.5rem;
    border-radius: 1rem;
}

.info {
    box-sizing: border-box;
}
.app-task-bar {
    width: 100%;
    padding: 0.2rem 0;
}

/* ############# Media Querys - Responsive ############## */

@media (max-width: 1300px) {

}
@media (max-width: 550px) {
    .info, .divider {
        display: none;
    }
}