
.task {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.task-list-form {
    display: flex;
    margin-top:2rem;
    width: 80%;
    height: 100%;
}
.table {
    font-family: michroma;
    box-shadow: 2px 3px 6px 0 rgb(202, 202, 202), 2.5px 2px 3px 0 rgba(128, 0, 128, 0.288);
}

.table-id {
    width: 3rem;
    font-size: 1.2rem;
}
.table-check {
    width: 3rem;
    font-size: 1.2rem;
}
.table-task {
    font-size: 1.2rem;
}
.table-to {
    width: 6rem;
    font-size: 1.2rem;
}
.table-from {
    width: 6rem;
    font-size:1.2rem;
}


/* #######  Responsive / Madia ##########*/

@media (max-width: 810px) {
    
}