
.task {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.task-list {
    flex-direction: column;
    width: 100%;
    padding:1rem;
    margin-bottom: 2rem;
}
.task-list-h1, .task-list {
    width: 100%;
}
.task-list-form {
    width:100%;
    box-sizing: border-box;
}
ul {
    flex-direction: column;
    width: 100%;
}
.task-list-app-container {
    width: 100%;
}
/* #######  Responsive / Madia ##########*/

@media (max-width: 810px) {
    .task-list-h1, .task-list {
        max-width: 90%;
    }
}