.fake-dashboard {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    margin-top: 0.7rem;
    z-index: 1;
}
.head-container {
    display: flex;
    flex-direction: row;
    width: 100%;

}
.head {
    width: 70%;
}
.head-h1 {
    font-family: montserrat;
    margin-left: 1rem;
}
.head-does {
    display: flex;
    width:30%;
    justify-content: end;
    align-items: center;
    gap: 0.3rem;
    padding-right: 1rem;
}
.link {
    color: black;
}
.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.2); 
  z-index: 2;
}