.task-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width:100%;
    height:100%;
    margin-bottom: 0.8rem;
    
    
    color: var(--primary-color);
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 2px 3px 6px 0 rgba(102, 80, 155, 0.3), 2.5px 2px 3px 0 rgba(114, 115, 179, 0.2);
}
.app-task-head {
    width: 100%;
}
.app-task-filter {
    width: 100%;
    padding: 0 0.5rem 0 0.5rem;
}
.app-task-task {
    width: 100%;
    padding: 0 0.5rem 0 0.5rem;
}