.fake-nav {
    display: flex;
    flex-direction: row;
    padding: 0 1rem 0 1rem;
    height: 30px;
    overflow: hidden;
    background-color: lightgray;

}
.fake-nav-main-left {
    display: flex;
    width: 60%;
    gap: 0.4rem
}
.fake-nav-main-linkone {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 0.7rem;
    
}
.fake-nav-main-right {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
    gap:0.5rem;
}
.fake-nav-main-right input {
    height: 20px;
    font-size: 0.7rem;
    border-radius: 3px 9px 0 9px;
    padding-left: 0.5rem;
    width: 13rem;
    background-color: whitesmoke;
}
.fake-nav-main-right button {
    border:none;
    font-family: montserrat;
    color: rgb(34, 34, 34);
    font-size: 0.5rem;
    background-color: lightgray;
    border-radius: 4px;
    box-shadow: 2px 3px 6px 0 rgba(72, 53, 116, 0.5), 2.5px 2px 3px 0 rgba(72, 73, 119, 0.1);
}