<div class="weather-content-container">
    <div class="weather-content-position">
        <p>Aktuelle Position: {{ weatherService.coordsShort().lat }} N {{ weatherService.coordsShort().lon }} <Em></Em></p>
        <p class="weather-forecast-station">Wetterstation: {{ stationName }}</p>
    </div>

    <div *ngIf="weatherService.hourlyWeather()?.weather?.length > 0" class="weather-forecast-hourly-container">
        <div class="weather-forecast-hourly-left">
            <div class="weather-forecast-hourly-carousel-wrapper" #wrapper (scroll)="onCarouselScroll(wrapper)">
                <div class="weather-forecast-hourly-carousel-track">
                    <div *ngFor="let hour of weatherService.hourlyWeather()?.weather; let i = index"
                            [ngClass]="{
                                'carousel-card-focus': i === focusIndex,
                                'carousel-card-prev': i === focusIndex - 1,
                                'carousel-card-next': i === focusIndex + 1,
                                'carousel-card-bg': isBgCard(i)
                            }"
                            class="weather-forecast-hourly-carousel-card">
                        <!-- <div *ngFor="let hour of weatherService.hourlyWeather().weather" class="weather-forecast-hourly-hour"> -->
                            <div class="weather-forecast-hourly-carousel">
                                <div class="weather-forecast-hourly-carousel-head">
                                    <div class="weather-forecast-hourly-hour-time-container">
                                        <p class="weather-forecast-hourly-hour-time">{{ hour.timestamp | date:'HH:mm' }} Uhr</p>
                                    </div>
                                    <div class="weather-forecast-hourly-carousel-head-icon-container">
                                        <!-- <img *ngIf="hour.icon" [src]="'../../../../assets/images/weather-icon/' + hour.icon + '.svg'" alt="Wetter Icon" class="weather-forecast-hourly-hour-icon"> -->
                                        <svg *ngIf="hour.icon === 'clear-day'" class="icon clear-day show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.2 177.7">
                                            <g id="Ebene_1-2" data-name="Ebene 1">
                                                <g>
                                                <path d="M86,37.8c61-4.6,76.9,83.4,18.4,99.4C31,157.4,12.5,43.4,86,37.8ZM82.9,49.8c-55,7.5-34.6,97.1,22.2,75.2,42.3-16.3,26.4-81.9-22.2-75.2Z"/>
                                                <path d="M24.4,24.8l6.7-.7c3.5,4.4,20,15.9,20,21s-4.9,6.8-8.9,5-15-14-16.4-15.6c-2.7-3.1-3.7-5.9-1.4-9.7Z"/>
                                                <path d="M154.9,24.8c5.7,5.4-5.1,14.1-9.2,17.8s-8.7,7.6-9.2,7.8c-7,2.1-9.4-4.5-5.7-9.7,5.6-2.4,13.1-14.5,17.5-16.6s5.2-.7,6.7.8Z"/>
                                                <path d="M131.9,127.7c2.5-.7,4.2,0,6.2,1.4s14.5,13.2,16.1,14.9c4.8,5.5-.6,12.5-6,10s-17-15.5-18-17c-2.4-3.3-3.1-8,1.7-9.3Z"/>
                                                <path d="M42.9,127.7c5-1.5,9.6,2.7,7.2,7.1s-18.5,19.1-20.6,19.5-2.2.3-3.2-.3c-3-1.9-4.1-5.1-2.5-8.5s17.9-17.4,19.2-17.8Z"/>
                                                <path d="M93.9,176.3c-2.9,2.9-8.9.9-9.7-3.3s-.6-20.8,0-23.9c1.1-6,9.8-6.1,10.9,0s.4,25.6-1.2,27.2Z"/>
                                                <path d="M85.4,31.3c-1.7-1.7-1.7-22.7-1.2-26.2,1.1-7,9.9-6.3,10.9-1s.6,20.9,0,24-6.8,6.2-9.7,3.3Z"/>
                                                <path d="M30.9,83.8c2.9,2.9.9,8.9-3.3,9.7s-19.9.6-22.9,0c-5.5-1-6.7-9.9-1-10.9s25.6-.4,27.2,1.2Z"/>
                                                <path d="M149.7,93.5l-2-2c-4-12.2,11.4-7.9,19-7.9s6.5-2.4,10.8,0,2.4,9.9.1,9.9h-28Z"/>
                                                </g>
                                            </g>
                                            </svg>
                                        <svg *ngIf="hour.icon === 'clear-night'" class="icon clear-night show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 164.4">
                                            <g id="Ebene_1-2" data-name="Ebene 1">
                                                <path d="M148.7,120.6c4.2,4.2-3.3,12.3-6.2,15.8-34.4,40.3-96,36.3-126.9-6.1C-13.9,89.9,0,30.8,44.7,8.5c7.2-3.6,30.4-11.1,37.3-7.7s-3.7,12.2-6,15c-36.5,46.1-4.5,111.9,54.5,106.5,4.7-.4,15-5,18.3-1.7ZM125,135.4c-56.3.8-93.9-58.7-70.2-109.7,1.6-3.4,3.8-6,5.2-9.3C-30.2,53,23.6,184,114,142.9l11-7.5Z"/>
                                                <path d="M119.9,17.5c1.3,4.7,1.7,8.6,6.4,11.1s6.3.4,6.8,4.3c0,3.1-7.3,4.6-9.6,7.4s-1.9,8.4-5.9,8.1-4.3-5.7-8.6-8.5-10-2.4-10-6.1,9.2-3.7,12.1-7,.3-11.3,8.9-9.4Z"/>
                                                <path d="M98.6,61.4l3.5.4c1.4,7.5,5.9,7.4,10.3,10.7s-2.1,5.2-4.4,7.3-5.8,10.1-10,7.1-1.4-4.4-2.9-6.1c-2.4-2.7-7.3-1.9-8.1-6,0-3.4,6.5-3.2,8.5-5.5s.8-7.1,3.1-7.9Z"/>
                                            </g>
                                        </svg>
                                        <svg *ngIf="hour.icon === 'cloudy'" class="icon cloudy show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 193.6 128.1">
                                        <g id="Ebene_1-2" data-name="Ebene 1">
                                            <path d="M152.4,45.3c18.7-3.1,38.3,14.6,40.7,32.8,3.7,27.1-14.5,47.3-41.2,49.3-35.8,2.6-74.8-1.9-110.9-.2C5.2,123.5-12.8,82.2,10.4,53.8s24.7-18.9,39-15.5c15-54.4,95.7-49.7,103,7ZM95.2,11.5c-14.4,1.7-28.9,12.3-34,26-1.1,2.9-1.9,11.1-3.8,12.2-10.5.3-17.3-2.3-27.3,2.7-29.5,14.6-22,59.2,10.8,62.9,36.6-2.7,78.1,3.5,114,0,33.1-3.3,36.2-49.9,7.1-58-5.8-1.6-16,.7-18.5-1.5s-2.5-12-3.7-16.3c-5.4-18.8-25.6-30.1-44.5-27.9Z"/>
                                        </g>
                                        </svg>
                                        <svg *ngIf="hour.icon === 'fog'" class="icon fog show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 175.7 133.7">
                                        <g id="Ebene_1-2" data-name="Ebene 1">
                                            <g>
                                            <path d="M32.8,40.6C41.8-6.3,107.4-15.4,127.9,28.3c7.5-.5,12.5-1.1,19.8,1.2,41.1,12.7,34.5,75.1-4.4,80.2-16.6,2.2-42.5,0-59.9,0-16.9,0-36.6,1.4-53.1,0-42.5-3.3-39.3-67.5,2.4-69.1ZM42.7,51.5c-2.5,2.5-7.5.1-11,.5-24.9,2.3-29.3,42.6,0,46.5,33.7-2,72.5,3.6,105.6.1,40.5-4.2,31.5-63.5-3.8-58.8s-9.4,4.4-12.6,2.4-3.2-8.2-4.4-10.6C100,0,52.8,7.4,44.2,42.5s.3,7.2-1.5,9Z"/>
                                            <path d="M27.4,121.7h113c4.3,3.9,2.8,10-3.1,10.9-34.1-2.2-72.3,3.1-106,.1s-5.7-11-4-11Z"/>
                                            </g>
                                        </g>
                                        </svg>
                                        <svg *ngIf="hour.icon === 'hail'" class="icon hail show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 169.9 176">
                                            <g id="Ebene_1-2" data-name="Ebene 1">
                                                <g>
                                                <path d="M81.7,0c20.9-.4,38.8,12.6,47.2,31.3,52.4-1.1,55.4,71.3,4.5,77.5-33.1-1.9-69.2,2.6-102,0-42.7-3.3-41.1-65.1.6-68.5C37.3,17.9,58.4.5,81.7,0ZM76.6,12c-12.8,1.7-24.9,11-30.5,22.5s-2.9,11-5.3,16.7c-7.3.6-11.7,0-18.3,3.7-18.8,10.6-13.7,39.2,7.8,41.8,33.3-2.2,70.2,2.9,103,0,35.6-3.1,31.6-54.3,0-54.1-3.7,0-9.7,3.3-12.5,1.6s-4.4-11.8-6.2-14.8c-7.9-13.3-22.9-19.5-38-17.4Z"/>
                                                <g>
                                                    <path d="M72.6,149c14.3-3.3,24.1,15.2,11.2,24.2s-30.3-19.9-11.2-24.2Z"/>
                                                    <path d="M49.6,121c17.9-2.6,20.7,24.4,4.7,26.7s-21.4-24.3-4.7-26.7Z"/>
                                                    <path d="M98.6,121c17.8-2.9,21.5,24.2,4.7,26.7-18,2.7-21.2-24-4.7-26.7Z"/>
                                                </g>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg *ngIf="hour.icon === 'partly-cloudy-day'" class="icon partly-cloudy-day show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.2 169.3">
                                        <g id="Ebene_1-2" data-name="Ebene 1">
                                            <g>
                                            <path d="M172,82.4h-22.5c-2.8,0-5.4-8.9-1.8-11.1s28.5,1,24.3,11.1Z"/>
                                            <path d="M108.1,51.2c-4.4-9.4,2.8-13.1,10.9-14.9,1.5-2-9.6-16.4-12-18.5-8-7-14.8-7-24.9-4.8-26.3,5.6-43.2,29.7-41.1,56.3,23.6-18,59.5-10.6,70,18,19-5.2,40,5.7,43.1,25.8,36.3,2.4,35.8,52.1.3,55.2-39.1-2.2-81.3,2.9-120,0-40.9-3.1-46.7-51.6-10.5-66.8-1-7.1,6.4-16.7,7-21.9s-2-10.2-2.1-14.9C28.6,28.5,60.8-3.4,97.6.3c11.5,1.2,22.2,12.6,28.3,21.7,1.3,2,5.5,11.3,6.2,11.8,1.9,1.4,7.4,1.2,10,2s13.7,7.5,14,11.1c.2,2.3-1.3,4.1-3.6,4.4h-44.3ZM136.6,103.7c-3.7-3.7-10.9-6.2-16.1-6.1s-9.8,3.4-14.8,3.7c-2.9-.8-5.9-12.1-8.3-15.8-13.1-20.3-46.5-18.1-57.4,3.4-3.8,7.5-3.5,14.3-4.9,22.1-5.8,3.5-11.2,2.3-16.7,7.8-13,13-6,34.6,12.2,37.6h127.7c16.4-5.5,14.8-31.1-3.8-31-4.5,0-9.6,3.7-11.3-3.6s-.3-11.7-6.6-17.9Z"/>
                                            </g>
                                        </g>
                                        </svg>
                                        <svg *ngIf="hour.icon === 'partly-cloudy-night'" class="icon partly-cloudy-night show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156.1 173.3">
                                            <g id="Ebene_1-2" data-name="Ebene 1">
                                                <path d="M14.9,128.8c3.7-5.7-4.1-15.9-6.3-21.8C-6.1,66.3,15.8,20.4,55.8,5.2c5.8-2.2,25.9-7.5,30.7-4.2s-3.7,12.7-6.6,17.2c-27.1,41.3,7.7,96.4,55.6,91.6s13.6-4.4,17.1-3.9c10.8,1.7-6.3,22.9-9.5,26.5s-8.2,7-8.5,7.5c-.9,1.6-1.1,7.1-2,10-4.6,13.8-18.2,20.9-32,22-20.1,1.6-57,1.8-77,0-21-1.8-32.6-25.6-14.8-39.9s5.9-3.1,6.1-3.4ZM68.1,15C33.2,22,12.6,54.6,16.2,89.4s3.9,12.3,4.9,18.6l10.5-10c10.3-7.8,24.6-13.5,37.5-10-2.9-6.3-6.4-12.4-8.3-19.2-5.1-18.4-2.9-37.6,7.3-53.8ZM56.8,99.2c-19.1,2.6-31.3,19-31.2,37.8-1.6,2.8-10.9,1-13,9-1.9,7.1,2.9,13.2,10,14,25.6-1.7,53.8,2.2,79.1,0,21.5-1.8,29-27.1,12-39s-15.2-.2-19.5-1.4-6.7-8.8-9.9-12.1c-6.9-7.1-17.7-9.5-27.3-8.2Z"/>
                                                <path d="M117.1,36c-4.3,4.8-10.2,7.2-11,14.5-1.5,13.3,9,19.3,21,15.5-2.9,11.2-17.5,13.5-26.5,7-19.1-13.9-6.7-43.6,16.5-37Z"/>
                                            </g>
                                        </svg>
                                        <svg *ngIf="hour.icon === 'rain'" class="icon rain show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 183.3 174.3">
                                        <g id="Ebene_1-2" data-name="Ebene 1">
                                            <g>
                                            <path d="M128.5,31.6c11.5-3.5,25.3,2.9,31.8,12.7s3.2,10,4.7,12.3,5.5,2.9,7.5,4.5c22.1,17.5,7.9,53.8-19.5,54.6-38.9-2.5-81.6,3.2-120,0-42.4-3.6-44.1-61.4-3.6-69.1,4-52.9,79.4-64.5,99.2-14.9ZM39.2,56.4c-6.6,1.9-12.5,1.9-18.3,6.2-15.7,11.7-10.6,36.5,8.4,40.6l125.5.4c13.4-2.6,21-16.3,13.8-28.6s-11.5-6.3-14.7-9.3,1.2-12-6.5-18.5c-10.7-9.2-21.4-.5-26-2.9-2.8-4.2-3.4-9.1-6.2-13.8C97.6.5,49.5,7.7,41.7,41.4s-.8,10.2-2.5,15Z"/>
                                            <g>
                                                <path d="M133.7,127.9c2.7-2.4,5.9-.2,7.6,2.3s7.2,22.4,7.2,25.8c-.4,19.8-32,20.6-29.1-3s11.9-23.1,14.3-25.2ZM135.4,146.6c-4.7,2.9-8.8,15,0,12.5,4.3-2.1-.7-8.8,0-12.5Z"/>
                                                <path d="M54.4,155.6c.9-.6,6.8,6.6,6.6,8.5-3.5,8.4-12.9,10-20.3,5.7-8.7-5.1-7.3-17-3.5-24.9s9.7-15.2,10.8-16.2c2.7-2.6,6.1-2.8,8.3.5,4.9,7.5-12.5,20.1-10.9,28.9s8.6,2.1,9.1-2.5Z"/>
                                                <path d="M78.7,170.3c-11.4-11.3,7.4-30.4,11.1-41.7,8.8-4.3,8.8,4.4,10.2,10.8s4.4,19.6,2.3,25.8c-3.3,9.6-16.5,12.2-23.7,5.1ZM86.5,162.4c8.3,3.4,5.6-6.8,4.9-11.9-3.5,2.8-5.9,7.3-4.9,11.9Z"/>
                                            </g>
                                            </g>
                                        </g>
                                        </svg>
                                        <svg *ngIf="hour.icon === 'sleet'" class="icon sleet show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 171.1 163.3">
                                            <g id="Ebene_1-2" data-name="Ebene 1">
                                                <g>
                                                <path d="M127.8,31.3c17.9-5.2,39.5,11.3,42.5,28.9,4.4,25.4-12.5,47.1-38,49.1-33.4,2.6-70.2-1.9-103.9-.1C-12.3,101-7.8,43.3,32.7,40.2,42.6-7.5,110.5-15.6,127.8,31.3ZM77.6,11.6c-14.1,1.6-27.6,12.3-32.3,25.7-1.6,4.6-1.2,9.2-3.9,13.1-8.8,1.6-13.5-.1-21.1,5.9-15.3,12.2-10.7,37.2,8.9,41,33.6-2.2,70.9,2.9,104.1,0,37.4-3.2,32.9-59.6-3.1-55.1-3.4.4-6,3.2-9.5,1.6-1.7-.9-4.3-11-6-14.1-7.3-13.2-22.5-19.9-37.3-18.2Z"/>
                                                <g>
                                                    <path d="M85.3,114.7c3.9.4,4.4,1.9,5.5,5.2,2.2,6.9,6.1,28.7,2.5,34.4-6.1,9.8-20.9,8.9-24.9-2s.2-11.8,3.7-18.3c2.1-3.9,7.6-13.9,9.9-17.1s1.8-2.1,3.3-2.2ZM83.8,137.3c-3.3,1.8-8.9,11.4-3.3,12.9s3.3-10,3.3-12.9Z"/>
                                                    <path d="M128.5,120.4c3.2-.9,5.9.7,6.9,3.8s3.8,22.7,3.4,26.5c-2,17.2-25.5,16.3-27.7.8s13-22.2,17.4-31.1ZM127.8,141.3c-2.3-.7-1.7.6-2.3,1.3-8.4,9.2,1.1,13.8,2.3,7.2.5-2.9-.9-5.7,0-8.5Z"/>
                                                    <path d="M45.1,119.5c2.8-2.7,6.3-.6,7.3,2.7s3.3,21.8,3.2,24.3c-.7,12.3-16.4,17.3-24.3,7.8-7.6-9.3,3-18.5,8.4-25.7,1.6-2.1,4.3-8,5.4-9.1ZM44.7,148.2l-.4-8.9-5.4,7.5c1.5,2.1,3.5,2.5,5.8,1.4Z"/>
                                                </g>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg *ngIf="hour.icon === 'snow'" class="icon snow show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 170.2 160.5">
                                            <g id="Ebene_1-2" data-name="Ebene 1">
                                                <g>
                                                <path d="M33.3,38.8c12.8-47.8,80.7-53.5,97.2-5.2,48.1-1.3,54.8,64.8,7.4,73.4-34.9-2-73.5,3.1-107.9.1-10.4-.9-19.3-6.5-24.7-15.3-14.2-23.7,1.9-49.8,28-52.9ZM81.3,11.3c-12.9.8-27.5,10.1-33.4,21.7-2.8,5.6-3.2,11.7-5.9,17.1-6.1,1.6-10.8.2-17.1,2.9-20.2,8.6-16.5,40.2,5,42.1,34.1,3,72.5-2.3,107,0,32.5-4.6,26.8-52.5-6-50-3,.2-5.2,2.4-7.8.9s-4.3-11.6-6.9-16.2c-6.7-12.1-21.4-19.2-35-18.4Z"/>
                                                <path d="M85.5,127c1.9-2.4,11.4-13.4,12.8-5.4s-9.1,11.1-7.8,12.4c5.9-3.1,15,0,9.3,6.9l-7.4.2c-1,.8,11,10.6,3.3,12.8s-6.7-6.8-10.3-8.9l-.2,13.3c-7.7,7.1-7.3-4.7-6.8-10.3-11.4,13.5-15.2,2-4-7l-9.1-.4c-4-7.1,4.7-9.2,10-6.6,1.7-1.7-16.6-14.9-3-15.5l6,6.5c0-5.6-2-14.1,6.6-10.1l.4,12.1Z"/>
                                                <path d="M135.5,130c1,1.2,6.9-5.3,9.5-1s-7.6,7.6-6.5,9c4.1,1,8,2.3,7.1,7.4-3.9,3.9-6.1-.9-10-1.3l-.4,7.1c-1.1,1.6-5.8,1.5-6.4-.7v-6.4c-1-1-5.4,2.7-6.8,2.8-2.6.2-4-3.4-2.8-5.8s6.2-1.8,5.5-5c-3.2-.5-6.9-2.5-5.9-6.3l3.2-2.6,6.7,3.8.9-8.6,5.6.5.4,7.1Z"/>
                                                <path d="M38.5,130c.7.8,7.2-4.3,9.6-1.1.8,1.3.6,2.7,0,4.1-1.2,2.5-6.1,2.2-5.5,4.5s7.3,1.6,5.9,6.8c-1.7,6-8.7-1.5-9.9-.3l-.4,7.1-4.9,1-1.7-9.1c-.3-.5-7.9,7.2-9.9,1.3s6.7-6.1,6.9-6.8c.7-2.2-4.4-1.7-6.1-3.9s-1.3-2.4-.8-3.9c3.2-4.9,5.9,0,9.9.3-1.4-10.4,9.1-11.5,7,0Z"/>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg *ngIf="hour.icon === 'wind'" class="icon wind show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 157.4 136">
                                            <g id="Ebene_1-2" data-name="Ebene 1">
                                                <g>
                                                <path d="M122.7,0c33.1-.5,36.8,44.3,3.8,48.8-33.7-2.5-72,3.2-105.1,0-2-.2-3.8,0-4.9-2.1v-7c1.3-1.5,3.1-1.8,5-2,32.3-3.7,71.4,3.2,104.1,0,23.3-2.3,9-35.2-10.9-22.9-6.4,4-7.6,19.3-15.6,13.3s-2.9-8.4-.9-12.9C102.4,5.9,112.5.2,122.7,0Z"/>
                                                <path d="M3.7,62.9h132.5c22.7,4.7,29.1,33.8,9.7,47.2-4.1,2.9-17.6,7.8-19.7.9s5.4-7.6,10.8-9.8c14.9-6.1,10-27.1-5.5-27.5H4.5c-5.9-1.8-5.8-7.8-.8-10.8Z"/>
                                                <path d="M18.2,89c1.1-1.1,3.7-1.1,5.2-1.3,24-2,51.3,1.2,75.6.5,31.3,9.1,17.9,57-13.3,46.3-9-3.1-19.5-20.4-8.8-23.3s5.7,8.7,10.6,11.5c10.6,5.9,22.5-6.3,16.3-17.3s-9.2-6.3-14.3-6.7c-22.2-1.7-46.6,1.4-69,0-4.4-.3-4.4-7.6-2.3-9.7Z"/>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg *ngIf="hour.icon === 'null'" class="icon null show" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 146.3 147.5">
                                            <g id="Ebene_1-2" data-name="Ebene 1">
                                                <path d="M62.7.5c64-7.2,107.2,64.2,69.6,116.6C96.8,166.7,19.8,153.1,2.9,94.7-9.3,52.7,18.1,5.5,62.7.5ZM120.9,112.2C161.8,52.8,94.8-15.1,34.9,25.2l86,87ZM26.4,35.2c-44.6,57.1,26.1,130.6,84.5,86.5L26.4,35.2Z"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="weather-forecast-hourly-carousel-head-condition-container">
                                        <p class="weather-forecast-hourly-hour-condition">{{ hour.condition || 'N/A' }}</p>
                                    </div>
                                    <div class="weather-forecast-hourly-hour-temp-container">
                                        <p class="weather-forecast-hourly-hour-temp">{{ hour.temperature || 'N/A' }} °C</p>
                                    </div>
                                </div>
                                <div class="weather-forecast-hourly-carousel-body">
                                    <div class="weather-forecast-hourly-carousel-body-first">
                                        <div class="weather-forecast-hourly-carousel-body-first-precibitationprob-container">
                                            <p class="weather-forecast-hourly-hour-presipitationprob">Regen: {{ hour.precipitation_probability || '0' }} %</p>
                                        </div>
                                        <div class="weather-forecast-hourly-carousel-body-first-precibitation-container">
                                            <p class="weather-forecast-hourly-hour-presipitation">Regen: {{ hour.precipitation || '0' }} mm</p>
                                        </div>
                                        <div class="weather-forecast-hourly-carousel-body-first-preassure-container">
                                            <p class="weather-forecast-hourly-hour-preassure">Luftdruck: {{ hour.pressure_msl || 'N/A' }} hPa</p>
                                        </div>
                                    </div>
                                    <div class="weather-forecast-hourly-carousel-body-second">
                                        <div class="weather-forecast-hourly-carousel-body-second-solar-contaier">
                                            <p class="weather-forecast-hourly-hour-solar">Solar: {{ hour.solar || 'N/A' }}</p>
                                        </div>
                                        <div class="weather-forecast-hourly-carousel-body-second-sunshine-contaier">
                                            <p class="weather-forecast-hourly-hour-sunshine">Sonne: {{ hour.sunshine || 'N/A' }} min</p>
                                        </div>
                                        <div class="weather-forecast-hourly-carousel-body-second-cover-contaier">
                                            <p class="weather-forecast-hourly-hour-cover">Bewölkung: {{ hour.cloud_cover || 'N/A' }} %</p>
                                        </div>
                                    </div>
                                    <div class="weather-forecast-hourly-carousel-body-third">
                                        <div class="weather-forecast-hourly-carousel-body-first-precibitationprob-container">
                                            <p class="weather-forecast-hourly-hour-presipitationprob">Wind: {{ hour.wind_speed || '0' }} km/h</p>
                                        </div>
                                        <div class="weather-forecast-hourly-carousel-body-first-precibitation-container">
                                            <p class="weather-forecast-hourly-hour-presipitation">Richtung: {{ getCardinalDirection(weatherService.hourlyWeather()?.weather[0].wind_direction) || '0' }}</p>
                                        </div>
                                        <div class="weather-forecast-hourly-carousel-body-first-preassure-container">
                                            <p class="weather-forecast-hourly-hour-preassure">Böen: {{ hour.wind_gust_speed || '0' }} km/h</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>           
                        <!-- </div> -->

                    </div>
                </div>
            </div>
        </div>
        <div class="weather-forecast-hourly-right">
            <div class="weather-forecast-hourly-trend-container">
                <p>Hier entsteht ein Trendgraph</p>
            </div>
        </div>
        
    </div>
    <p *ngIf="!weatherService.hourlyWeather()?.weather" class="mt-4 text-gray-400">Stündliche Wetterdaten werden geladen oder sind nicht verfügbar...</p>
</div>
